<div class='profile__avatarWrapper'>
		<img class='profile__avatarWrapper_img' src={{src}}></img>
		<div id='profile__avatarWrapper_input'>
			<input
				accept='img/*'
				type='file'
				placeholder='Загрузить аватар'
				class='profile__avatarWrapper_input-file'
				title=''
				name='avatar'
			/>
			<br/>
			{{{changeButton}}}
		</div>
	</div>