<div class='auth'>
	<div class='auth__container'>
		<h1 class='auth__header'>Вход</h1>
		<form class='auth__form'>
			<div class='auth__form__inputs'>
				{{{Input name='name' type='text' placeholder='Name'}}}
				{{#each inputs}}
					{{{Input name=this.name}}}
				{{/each}}
			</div>
			<div class='auth__buttons'>
				<button class='auth__buttons_signin'>Войти</button>
				<a class='auth__buttons_register' href='../registration/'>Нет аккаунта?</a>
			</div>
		</form>
	</div>
</div>