<div class='chatListItem'>
	<div class='chatListItem_left'>
		<div class='chatListItem_left__photo'></div>
	</div>
	<div class='chatListItem_center'>
		<div class='chatListItem_center__name'>{{name}}</div>
		<div class='chatListItem_center__message'>{{message}}</div>
	</div>
	<div class='chatListItem_right'>
		<div class='chatListItem_right__time'>{{time}}</div>
		{{#if count}}<div class='chatListItem_right__count'>{{count}}</div>{{/if}}
	</div>
</div>