<form action='' class='chatBottom'>
	<div class='chatBottom_add'>📎</div>
	<div class='chatBottom_inputWrapper'>
		{{{Input
			id='messageBox'
			class='chatBottom_inputWrapper_input'
			placeholder='Сообщение'
			name='message'
		}}}
	</div>
	<button
		type='submit'
		class='chatBottom_btn'
		onClick='{{this.onClick}}'
	>🚀</button>
</form>