<html lang='ru'>

	<head>
		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1, viewport-fit=cover'
		/>
		<title>ЯМессенджер: {{title}}</title>
	</head>

	<body>
		<main class='main__container'>
			<div id='app'></div>
		</main>

		{{#if script}}
			<script type='module' src='{{script}}'></script>
		{{/if}}
	</body>

</html>