@import "../../../styles/main.scss";

.chatList {
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__header {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  &__list {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  &__bottom {
    padding: 10px;
  }
}
