@import "../../../styles/main.scss";

.message {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  background-color: $lightGray;
  &_mine {
    background-color: $mainBlue;
    justify-content: flex-end;
  }
}
